.user-profile {
  display: flex;
  justify-content: center;
  padding: 1.5rem $horizontal-padding-mobile;

  &__summary {
    display: flex;
    flex-direction: column;
    text-align: center;

    & > * {
      margin: 0 auto;
    }
  }

  &__avatar {
    background-color: $color-light-grey;
    box-shadow: 0 0.1rem 0.4rem 0.3rem rgba($color-black, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    padding-top: 0.5rem;

    img {
      width: 70%;
      display: block;
      margin: auto;
    }
  }

  &__name {
    font-size: 150%;
    margin-top: 1.5rem;

    & ~ div {
      margin-top: 0.25rem;
    }
  }

  &__about {
    display: none;
  }
}

@media only screen and (min-width: $sm) {
  .user-profile {
    align-items: flex-end;
    column-gap: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem $horizontal-padding-desktop;

    & > * {
      flex-basis: 100%;
    }

    // for safari below 14.1 that not supports gap with flexbox
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        margin: -1em;
        & > * {
          margin: 1em;
        }
      }
    }

    &__summary {
      flex-direction: revert;
      align-items: flex-end;
      text-align: left;

      & > * {
        margin: 0;
      }
    }

    &__name {
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    &__avatar {
      margin-right: 1rem;
      flex: 0 0 7rem;
    }

    &__about {
      display: block;
      text-align: right;
    }
  }
}

@media only screen and (min-width: $xl) {
  .user-profile {
    padding: 3rem $horizontal-padding-desktop-large;
  }
}
