$color-black: #000000;
$color-blue: #37a8ee;
$color-dark-grey: #2c2e30;
$color-green: #00dca4;
$color-green-success: #008000;
$color-grey: #d8d8d8;
$color-light-grey: #f6f8f9;
$color-red: #ff5c5b;
$color-red-error: #ff0000;
$color-transparent: Transparent;
$color-white: #ffffff;
$color-yellow: #f1c40f;
